* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --theme-danger: #f56c6c;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.el-button {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: var(--theme-text-color);
}
.el-button:hover {
    background: var(--theme-color);
    border-color: var(--theme-color);
}
